body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}

main {
    flex: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px 0;
    text-align: center;
}

.tulisan-tangan {
    font-family: 'Brush Script MT', cursive;
}

.container-card {
    height: 100vh;
}

.card {
    max-width: 100%;
    margin: auto;
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.transparent-item {
    width: 16px;
    height: 24px;
    background-color: transparent;
}

.card {
    width: 22rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgb(213, 137, 78);
}

.navbar,
.offcanvas-header {
    background-color: #e29858;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
    background-image: url("");
}

.offcanvas-footer {
    z-index: -3;
}

/* Bootstrap */
a.btn-primary,
.btn-outline-primary {
    --bs-btn-bg: #e29858;
    --bs-btn-border-color: #e29858;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ca874b;
    --bs-btn-hover-color: #ca874b;
    --bs-btn-color: var(--bs-white);
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #c48147;
    --bs-btn-active-border-color: #c48147;
    ;
}

.offcanvas {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-background {
    z-index: -3;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.h5 {
    color: white;
}

#langit,
#karakter,
#watermark {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 0.2s ease-out;
    overflow: hidden;
    z-index: 0;
}

#karakter {
    width: auto;
    height: 95%;
    position: relative;
    right: -45%;
    top: 7%;
    overflow: hidden;
}

#langit {
    max-width: 150%;
    width: auto;
    min-width: 145%;
    overflow: hidden;
    top: 1.3%;
}

#watermark {
    object-fit: fill;
    width: 50%;
    height: auto;
    right: 0;
    bottom: 0;
}

/* efek */
#nsfwButton,
#gtaButton {
    transition: all 0.9s ease-in-out;
}

@media (max-width: 1200px) {
    #karakter {
        right: -40%;
    }
}

@media (max-width: 992px) {
    #karakter {
        right: -30%;
    }
}

@media (max-width: 768px) {
    #karakter {
        left: 50%;
        transform: translateX(-50%);
    }

    #langit {
        width: 150%;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

@media (max-width: 576px) {
    #karakter {
        left: 50%;
        transform: translateX(-50%);
    }
}
